<div class="row header justify-content-center">
  <div class="col-4 left">
    <div>
      <img class="profilePicture" src="../../assets/mypictureLittle.png" alt="Photo de Maël">
    </div>
  </div>
  <div class="col right">
    <h2>Maël</h2>
    <h1>Sigaroudi</h1>
    <h3>Développeur Fullstack Java - Angular </h3>
    <hr>
    <div class="row contact">
      <div class="col">
        <h4>Location</h4>
      </div>
      <div class="col">
        <h4>Téléphone</h4>
      </div>
      <div class="col">
        <h4>E-mail</h4>
      </div>
      <div class="col">
        <h4>Location</h4>
      </div>

    </div>
  </div>
</div>
<div class="row resume">
  <div class="col-4 left">

    <h3>Résumé</h3>
    <p>A propos de moi</p>
  </div>
  <div class="col right">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aaliquet nibh nec
      urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra,
      tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Nulla
      vitae mauris non felis mollis faucibus.

      Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus
      libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed
      semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc
      sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna. Fusce lacinia arcu et nulla.
      Nulla vitae mauris non felis mollis.</p>
  </div>
</div>

<div class="row experiences">
  <div class="col-4 left">

    <h3>Expériences</h3>
    <p>Mes divers missions</p>
  </div>
  <div class="col right">
    <div class="row">
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
    <div class="row">
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
  </div>
</div>

<div class="row Education">
  <div class="col-4 left">

    <h3>Education</h3>
    <p>Mon parcours d'études</p>
  </div>
  <div class="col right">
    <div class="row">
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
    <div class="row">
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
  </div>
</div>


<div class="row skills">
  <div class="col-4 left">

    <h3>Compétences</h3>
    <p>Ce que je sais faire</p>
  </div>
  <div class="col right">
    <div class="row">
      <div class="col">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
      <div class="col">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
      <div class="col">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
      <div class="col">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
      <div class="col">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
    </div>
  </div>
</div>